<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipe Website</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div id="menu-bar" class="fas fa-bars"></div>

      <a href="#" class="logo"><span>D</span>IGITAL CLOCK BOOK</a>
      <nav class="navbar">
        <a href="index.html">home</a>
        <a href="index.html">Recipe Listings</a>
        <a href="index.html">Meal Planner</a>
        <a href="index.html">Sign Up</a>
        <a href="index.html">contact US</a>
      </nav>
      <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
      </div>

      <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here..." />
        <label for="search-bar" class="fas fa-search"></label>
      </form>
    </header>
    <div class="login-form-container">
      <i class="fas fa-times" id="form-close"></i>

      <form action="">
        <h3>login</h3>
        <input type="email" class="box" placeholder="enter your email" />
        <input type="password" class="box" placeholder="enter your password" />
        <input type="submit" value="login now" class="btn" />
        <input type="checkbox" id="remember" />
        <label for="remember">remember me</label>
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have an account? <a href="#">register now</a></p>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <section class="book" id="book">
        <h1 class="heading">
          
          <span>G</span>
          <span>a</span>
          <span>z</span>
          <span>p</span>
          <span>a</span>
          <span>c</span>
          <span>h</span>
          <span>o</span>
        </h1>
  
        <div class="row">
          <div class="image">
            <img src="images/p12.jpg" alt="" />
          </div>
          <form action="">
            <div class="inputBox">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque commodi repudiandae iste temporibus quibusdam perferendis molestias ad beatae quaerat ipsam sit doloribus mollitia ex, assumenda pariatur odit facere eos nihil.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia necessitatibus, quis eum cupiditate impedit fugit incidunt soluta, sint modi perspiciatis dolorum at quia voluptates voluptatum atque odit obcaecati itaque recusandae!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nobis nostrum eos natus iure id tenetur fugit explicabo! Odio aperiam sed tempore! Quaerat tempora explicabo quas debitis nihil, deleniti quae.
            </div>
            <div class="inputBox">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, at. Voluptatum itaque minima reiciendis quaerat iure temporibus blanditiis provident tempora atque, accusantium cum odio exercitationem, rem esse laboriosam magnam repudiandae. 
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur repellat nam adipisci reiciendis? Reiciendis rerum aliquid culpa iure nostrum maiores illo, similique eligendi magnam officiis veritatis, ducimus unde, consequuntur dolore.
             
            </div>
            <div class="inputBox">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam, pariatur optio doloribus aut, commodi incidunt deserunt consectetur officiis eaque corrupti doloremque praesentium accusamus vitae. Quod facere voluptates deserunt ullam.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ex, tempora consequatur necessitatibus corporis velit harum nulla nostrum! Ex quas repellendus velit est doloribus quos doloremque modi dolorum debitis architecto!
            </div>
            <div class="inputBox">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facere ab ducimus soluta mollitia neque voluptatibus temporibus similique quam. Odit reprehenderit ut quibusdam? Illum incidunt blanditiis esse quod laborum adipisci.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis reiciendis assumenda fugit voluptatum quo. Natus sapiente excepturi tempora ab architecto necessitatibus molestias. Cum vel consectetur maiores deleniti mollitia commodi facilis!
            </div>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, vitae dicta. Reiciendis molestiae minima, ut tenetur porro ipsa, laudantium placeat, a reprehenderit dolorum commodi repudiandae? Consectetur cupiditate assumenda beatae sunt.
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti voluptatum asperiores totam officiis officia illo quia debitis reiciendis itaque dolorum vel reprehenderit praesentium, labore adipisci quam deserunt optio, minima soluta.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus eum dolore sint aliquam. Possimus assumenda cumque quod ab tempore similique unde dolorem officia placeat qui rem, veritatis sit voluptatem?
          </form>
        </div>
      </section>
      <br>
      <br>
      <br>
      <br>
      <section class="footer">
        <div class="box-container">
          <div class="box" style="border: none;">
            <h3>About us</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              quas magni pariatur est accusantium voluptas enim nemo facilis sit
              debitis.
            </p>
          </div>
          <div class="box" style="border: none;">
            <h3>branch locations</h3>
            <a href="#">india</a>
            <a href="#">USA</a>
            <a href="#">japan</a>
            <a href="#">france</a>
          </div>
          <div class="box" style="border: none;">
            <h3>Quick links</h3>
            <a href="#">home</a>
            <a href="#">Receipe</a>
            <a href="#">Meals</a>
            <a href="#">Add Own Receipe</a>
            <a href="#">Contact US</a>
            <a href="#">Sign Up</a>
           
          </div>
          <div class="box" style="border: none;">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
          </div>
        </div>
        <h1 class="credit">
          created by <span> Shuaib </span> | all rights reserved!
        </h1>
      </section>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="/app.js"></script>
    </body>
  </html>
  